<div class="shadow p-3 mb-5 bg-white rounded">
    <h3>Query name</h3>
    <div class="card card-body">
      Procedure: Database.AddUserToCategory()
      <div class="collapse" id="collapseExample">
          <div class="shadow-none p-3 mb-5 bg-light rounded">
              <kbd>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</kbd>
          </div>
      </div>
    </div>
    <button class="btn btn-info">Copy</button>
    <button class="btn btn-info float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Show more
    </button>
  </div>