      <div class="row h-100 justify-content-center align-items-center">
        <h1>Home</h1>
      </div>
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Query name">
        </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Optional info about query">
      </div>
      <div class="form-group">
          <input type="text" id="queryInput" class="form-control" placeholder="Insert query here">
      </div>
      <div class="shadow-none p-3 mb-5 bg-light rounded">
        <div class="form-check checkbox-inline">
          <label class="form-check-label">
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="serv1">
                  <label class="custom-control-label" for="serv1">Server#1</label>
              </div>
          </label>
        </div>
        <div class="form-check checkbox-inline">
            <label class="form-check-label">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="serv12">
                    <label class="custom-control-label" for="serv12">Server#2</label>
                </div>
            </label>
          </div>
          <div class="form-check checkbox-inline">
              <label class="form-check-label">
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="23423">
                      <label class="custom-control-label" for="23423">Server#3</label>
                  </div>
              </label>
            </div>
      </div>
      <button type="submit" class="btn btn-primary">Add query</button>
      <hr>
      <app-querycard></app-querycard>