<p class="float left">{{ query.createDate | date:'dd.MM.yy - HH:mm' }} by {{ query.createdBy }} </p>
<h3>Query name: {{query.name}}</h3>
        <div class="card card-body">
                <div class="shadow-none p-3 mb-5 bg-light rounded">
                    <textarea class="form-control rounded-0" cols="30" rows="10">

                        {{ query.value }}
                    </textarea>
                </div>
        </div>
            <button class="btn btn-danger" (click)="onDelete(query._id)">Remove query</button>
            <button ngxClipboard [cbContent]="query.value" class="btn btn-info">Copy</button>
            <ul>
                <div *ngFor="let server of query.servers">
                    <div *ngFor="let s of servers">
                        <li *ngIf="s._id === server"> {{ s.name }} </li>
                    </div>
                </div>
            </ul>